<%- include('partials/header'); -%>
    <h1>Contact</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus vestibulum dui ac dignissim. Donec
        laoreet, augue in lacinia dignissim, quam lectus scelerisque tortor, quis iaculis erat velit eget mi. Aliquam at
        sem eget felis rutrum egestas sed sed augue. Aenean sit amet lacinia ante. In hac habitasse platea dictumst.
        Praesent lacus neque, iaculis eu ultricies id, volutpat sit amet turpis. Duis hendrerit convallis mauris a
        sodales. Nam nec massa id nisl eleifend scelerisque. Quisque tristique mollis sem fringilla eleifend. Sed vel ex
        id nulla eleifend hendrerit. Nulla eget fermentum enim. Pellentesque a sapien turpis. Aliquam a eros nec lectus
        tempor consequat eu et diam. Etiam euismod purus vel laoreet pellentesque. Aenean eros ipsum, pulvinar at lacus
        sed, mollis tincidunt lectus. Cras id quam euismod, rhoncus nulla in, pretium augue.
        <br>
        In convallis, ante in semper blandit, turpis ipsum fringilla eros, eu sodales dolor tellus sit amet quam. Etiam
        eget sollicitudin nunc. Aliquam dapibus lobortis elit, porttitor consectetur erat maximus eu. Fusce hendrerit
        nisi orci, nec pellentesque massa venenatis at. Maecenas blandit maximus ipsum, eget egestas leo fermentum eget.
        Duis gravida ipsum eu ex tincidunt feugiat. Sed pellentesque, leo vitae sollicitudin dictum, risus nibh sagittis
        nibh, ac feugiat erat tellus in odio. Morbi gravida justo justo, id hendrerit libero consequat et. Nulla
        facilisi. Maecenas elementum sem in molestie interdum. Aenean rhoncus feugiat tellus, vitae malesuada lorem
        sodales in. Nunc eu mi non velit mollis pharetra. Nam malesuada, dui et faucibus iaculis, erat enim venenatis
        urna, sed mattis erat nulla vitae ex.
    </p>
    <%- include('partials/footer'); -%>