<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="login-body">

    <div class="container login-container">
        <div class="center">

            <h3 class="title">
                <i class="fas fa-users"> Blook </i>
            </h3>
            <div class="section">
                <p class="lead">
                    Connect with peers from all over the world!
                </p>
            </div>

            <div class="divider"></div>

            <div class="section login">
                <a href="/auth/google" class="btn btn-primary">
                    <i class="fab fa-google left"></i> Log in With Google
                </a>
            </div>
            <div class="section login">
                <a href="https://github.com/login/oauth/authorize?client_id=<%= GITHUB_CLIENT_ID  %>&scope=user"
                    class="btn btn-dark">
                    <i class="fab fa-github left"></i> Log in With Github
                </a>
            </div>
        </div>

        <%- include("partials/footer") -%>