<%- include('../partials/header'); -%>
    <h3>About</h3>
    <p>

        This is a website where a user can make blog posts.
        The compose page is where a user can write blogs.
        All the blogs in the database will be shown on the home page.
        To read the full blog, the user can click on Read More.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim ac elit in bibendum. Mauris
        sollicitudin, enim non dignissim dictum, eros enim suscipit nulla, sed imperdiet odio urna vitae velit.
        Vestibulum in metus eget arcu cursus ultricies. Pellentesque efficitur porta metus, at congue lorem rutrum nec.
        Maecenas lectus leo, luctus a dignissim porttitor, fringilla nec nisl. Donec sollicitudin rutrum velit, sit amet
        tempor urna mattis sed. Nulla facilisi. Nunc consequat erat in pharetra hendrerit.
        <br>
        Ut felis purus, pellentesque id libero sed, tristique facilisis arcu. Vestibulum lacinia feugiat nulla, maximus
        cursus augue blandit a. Morbi convallis libero vel purus sagittis lobortis. Donec mollis maximus neque eu porta.
        Nulla id scelerisque felis, in elementum justo. Praesent scelerisque est a odio accumsan, eget venenatis lectus
        vestibulum. Suspendisse aliquet lacinia nulla sed fringilla. Donec justo quam, blandit id tristique vel,
        ultrices dapibus ex. Morbi suscipit tincidunt sem, in fringilla quam viverra at. In consectetur ornare diam. In
        venenatis justo at magna mollis blandit.
        <br>
        Nulla facilisis in elit eu iaculis. Nullam ultrices dictum lacus vitae cursus. Duis vulputate, risus ac bibendum
        euismod, orci tellus efficitur leo, in imperdiet ligula lacus vel ipsum. Vivamus aliquam, mauris sit amet
        venenatis tempus, augue libero faucibus erat, a sagittis felis purus sed sem. Praesent feugiat et mi ut finibus.
        Vestibulum molestie odio eget augue luctus sodales. Mauris ornare gravida semper. Nullam augue dui, fringilla ac
        ex sit amet, pellentesque dignissim sem.
        <br>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus a arcu
        fringilla, laoreet massa at, faucibus orci. Aliquam quis augue id lacus laoreet sollicitudin. In euismod mauris
        sit amet gravida egestas. Aliquam in metus semper, laoreet quam eu, convallis mauris. Phasellus in scelerisque
        arcu, sed aliquam orci. Pellentesque nibh massa, convallis sagittis venenatis nec, vehicula eu lacus. Proin
        placerat urna non velit ultricies dignissim. Donec consequat suscipit mollis. Maecenas efficitur ligula lectus,
        et dignissim elit lacinia et. Proin id diam in lectus blandit auctor at sit amet nibh. Aenean quis risus cursus,
        iaculis odio id, commodo urna.
        <br>
        Curabitur ut hendrerit nisi. Cras scelerisque fermentum felis, ac vestibulum ipsum ornare non. Integer cursus in
        libero eget tincidunt. Nulla in efficitur urna. Fusce hendrerit, augue vel cursus interdum, sem velit iaculis
        lacus, vitae finibus risus odio vitae ipsum. Curabitur egestas ante in molestie dictum. Aliquam ac facilisis
        nibh. Donec faucibus diam sit amet viverra consequat. Phasellus vel odio id enim iaculis bibendum. Vivamus
        varius condimentum erat in accumsan. Vestibulum placerat efficitur lacus, non feugiat arcu ultrices sed.

    </p>
    <%- include('../partials/footer'); -%>