<%- include('../partials/header'); -%>
    <h3>Compose</h3>
    <form action="/posts/compose" method="POST">
        <div class="mb-3">
            <label>Title</label>
            <input type="text" class="form-control" name="title" autocomplete="off" required>
        </div>
        <div class="mb-3">
            <label>Post</label>
            <textarea class="form-control" name="body" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
    <%- include('../partials/footer'); -%>